

.singleSlider {
    height: 12px;

    opacity: 2;
    background: var(--rgb-on);
    background: -webkit-linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);
    background:    -moz-linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);
    background:         linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);

    -webkit-appearance: none;
}


