.ff-comic {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif !important;
}

.ff-times {
  font-family: 'Times New Roman', Times, serif !important;
}

.fc-fuschia {
  color: #9013fe !important;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('https://cdn.sstatic.net/Img/april-fools-2019/so-tile.png?v=5922b5fd7715');
}

#content {
  border-width: 0 4px 0 4px;
  border-style: solid;
  border-color: #32e830;
}

.container h2,
.container h4,
.bulletin-title {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
  color: #9013fe !important;
}

.container h5 {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
  font-style: uppercase;
}

.container .bulletin-item-content a {
  text-decoration: underline;
}

.container .favicon {
  background-image: url('https://cdn.sstatic.net/Img/april-fools-2019/broken-image.png?v=a2722a3b4e69');
  background-position: 0;
}

.tm-unicorn-front {
  position: absolute;
  top: 200px;
  left: -195px;
}

.tm-unicorn-back {
  position: absolute;
  top: 330px;
  right: -198px;
}

@media (max-width: 1700px) {
  .tm-unicorn-front,
  .tm-unicorn-back {
    display: none;
  }
}

.tm-toggle {
  width: 20px;
  height: 20px;
}

#question-header .question-hyperlink {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
  text-decoration: none;
}

#question-header a.s-btn {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 3px outset blue;
  border-radius: 0;
  background: blue;
}

.question-hyperlink {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

#tm-header {
  border-bottom: 4px solid #32e830;
}

#tm-scroll {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: marquee 15s linear infinite;
  -moz-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#left-sidebar {
  border-left: 4px solid #32e830;
  background: linear-gradient(0deg, #4395cf 0%, #9a54e3 100%);
}

#left-sidebar a {
  text-decoration: underline;
  color: #f8e71c;
}

#left-sidebar li,
.fc-medium {
  color: #fff !important;
}

.tm-globe {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#mainbar a {
  text-decoration: underline;
  color: blue;
}

.post-text {
  font-family: 'Times New Roman', Times, serif;
}

.user-details,
.comment-copy,
.post-tag {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

.question-page #answers .answer,
.wmd-container {
  border: 5px groove;
}

#wmd-preview {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

.community-bulletin {
  border: 5px groove #ede8e7 !important;
}

#tm-views {
  /* https://stackoverflow.com/questions/13751412/why-would-font-names-need-quotes#13752149 */
  /*You can always put a specific font family name in quotes, double or single, so
  Arial, "Arial", and 'Arial' are equivalent.
  Only the CSS-defined generic font family names like sans-serif must be written
  without quotes.*/
  font-family: "Consolas", sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0 5px 5px;
  letter-spacing: 5px;
  color: #7fff00;
  background: #000;
}

.tm-fire {
  width: 15px;
  height: 20px;
}

#tm-footer {
  background-image: url('https://cdn.sstatic.net/Img/april-fools-2019/guestbook-tile.png?v=a3115b974309');
}

#tm-footer-top {
  height: 30px;
  margin-bottom: 75px;
  background-image: url('https://cdn.sstatic.net/Img/april-fools-2019/pencil-border.png?v=16dd39c85511');
}

#tm-footer-bottom {
  height: 30px;
  margin-top: 75px;
  background-image: url('https://cdn.sstatic.net/Img/april-fools-2019/footer-border.gif?v=2f26a0868ebf');
}

.tm-form-container {
  border: 3px inset #fcfcfc;
  background: #9013fe;
}

.tm-comments {
  height: 350px;
  border: 3px inset #fcfcfc;
}

.tm-comment-input {
  height: 150px;
}

#tm-guestbook input,
#tm-guestbook textarea {
  width: 100%;
}

.site-footer .-link {
  text-decoration: underline;
}
