:root {
  --highlight: #00c6b9;
  --text-light: #27374c;
  --rgb-on: rgb(255, 255, 255);
  --rgba-on: rgba(255, 255, 255, 1);
}

body {
  color: lightyellow;
  background-color: #0c0f1d;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
  height: 200px;
}

.showHover {
  z-index: 1080 !important;
  display: none;
}

.showDiv:hover .showHover {
  position: absolute;
  z-index: 1090 !important;

  display: block;
  overflow: hidden;
}

.singleSlider {
  height: 12px;

  opacity: 2;
  background: var(--rgb-on);
  background: -webkit-linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);
  background:    -moz-linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);
  background:         linear-gradient(90deg, var(--rgba-on) 0%, var(--highlight) 35%, var(--text-light) 100%);

  -webkit-appearance: none;
}

.singleSlider,
input {
  font: inherit; /* TODO */
}

/* table idk */
.table {
  display: table;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
  vertical-align: top;
}

/* DivTable.com */
.divTable {
  display: table;
  height: 200px;
  overflow-y: auto;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
  background-color: #eee;
}

.divTableCell,
.divTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999;
}

.divTableHeading {
  font-weight: bold;
  display: table-header-group;
  background-color: #eee;
}

.divTableFoot {
  font-weight: bold;
  display: table-footer-group;
  background-color: #eee;
}

.divTableBody {
  display: table-row-group;
}
