html {
  background: #eee;
}

div {
  background: #fff;
  padding: 10px 20px;
  width: 400px;
  margin: 0 auto;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  /* font-size: 36px; */
}

p {
  font-size: 20px;
}
