/* https://coolors.co/palettes/trending */
element {
  color: #cdb4db;
  color: #fec8dd;
  color: #ffaecc;
  color: #bddffe;
  color: #a2d2ff;
}

element {
  color: #bfe9e7;
  color: #62b6cb;
  color: #1b4965;
  color: #cbe8ff;
  color: #60a8d3;
}

os-dark {
  color: #fbfbfe;
  background-color: #1c1b22;
}
