/* style */

body {
  font-family: sans-serif;
  font-size: larger;
}

table {
  border: 1px solid blueviolet;
}

/*Link*/

a:link {
  text-decoration: none;
}

a:visited {
  color: #0000CC;
  /*color: #000099;*/
  /*color: #551A8B;*/
}
