body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

/*FONT!*/
body {
  font-family: effra, Verdana, Tahoma, 'DejaVu Sans', sans-serif;
  /*font-family: 'Montserrat-SemiBold', 'Montserrat', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';*/
  /*font-family: Poppins, sans-serif;*/
  /*font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';*/
  /*font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;*/
}
