/* https://www.samanthaming.com/tidbits/35-es6-way-to-clone-an-array/ */
.red {
  color: #db0a5a;
  background-color: #ffafd2;
}

.blue {
  background-color: #d0e2ff;
  background-color: #a6c8ff;
  background-color: #78a9ff;
}

/* Use these: */
::selection {
  background-color: #ffafd2;
}

body {
  color: #5b6ac4;
  background-color: #edf5ff;
}

/* https://coolors.co/palettes/trending */
element {
  color: #cdb4db;
  color: #fec8dd;
  color: #ffaecc;
  color: #bddffe;
  color: #a2d2ff;
}

/* https://github.com/sole/sole.github.com/blob/master/munit.js/example.html#L48 */
.boo { background: #faa; }
.yay { background: #8f8; }
