p {
  position: relative;
  display: inline-block;
  border: 1px solid red;
}

/* add :hover */
.tooltip-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  opacity: .8;
  /* width + arrow width = 250 + 7 = 257 */
  transform: translate3d(257px, -50%, 0);
  border-radius: 3px;
  box-sizing: border-box;
  width: 250px;
  padding: 7px 10px;
  background-color: black;
  font-size: 12px;
  color: #fff;
  /* text-align: center; */
  text-align: left;
}

/* add :hover:after */
.tooltip-right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  border-right: 7px solid black;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  width: 0;
  height: 0;
}
